MONGODB_URI=mongodb://<username>:<password>@<host>:<port>/<dbname>?authSource=admin
NEXTAUTH_SECRET=your_super_secret_key_here
NEXTAUTH_URL=http://localhost:3000
PORT=3000
NEXT_PUBLIC_SOCKET_URL=http://localhost:3000

KIOTVIET_CLIENT_ID=your_kiotviet_client_id
KIOTVIET_CLIENT_SECRET=your_kiotviet_client_secret
